name: CI Pipeline 

on: 
  push:
    branches: 
      - master
      - develop

    pull_request: 
      branches: 
        - master
        - develop

jobs:
  test:
    runs-on: ubuntu-latest

    steps: 
      - name: Checkout código 
        uses: actions/checkout@v4

      - name: Configurar PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2

      - name: Instalar dependências
        run: composer install --no-progress --prefer-dist --no-interaction

      - name: Copiar .env
        run: cp .env.example .env

      - name: Gerar APP_KEY
        run: php artisan key:generate

      - name: Rodar testes
        run: php artisan test

## Quando tiver push em develop/master ou um PR
## Vai subir uma VM linux, clonar o repo, instalar php e dependencias
## Gerar o .env e rodar os testes